{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('farmacos')}}" class="#" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Farmaco Antiespasmodico</b></i></h1>
                    <i>
                        <br>
                        Los antiespasmódicos son un grupo de sustancias que pertenecen a un grupo de fármacos que actúan sobre el músculo liso intestinal. <br>
                        previenen o interrumpen la contracción dolorosa e involuntaria (espasmo) del músculo liso intestinal, uno de los
                        mecanismos referidos en la génesis del dolor en patologías
                        gastrointestinales. <br>
                        <br>
                        Los antiespasmódicos se clasifican en
                        varios grupos, de acuerdo con su mecanismo de acción: a)
                        agentes relajantes directos del músculo liso (mebeverina,
                        agentes derivados de papaverina), b) anticolinérgicos (butilhioscina, hioscina, hiosciamina, levocina, dicicloverina,
                        butilescopolamina, trimebutina y bromuro de cimetropio), y c) agentes bloqueadores de los canales del calcio
                        (bromuro de pinaverio, bromuro de otilonio, alverina,
                        fenoverina, rociverina y pirenzepina).
                    </i>
                </p>
                <br>
                <p>
                    <i>
                        Los relajantes directos del músculo liso actúan sobre
                        las miofibrillas del músculo liso del aparato digestivo, reducen el tono y el peristaltismo, y alivian los espasmos
                        intestinales sin afectar de forma sustancial a la motilidad
                        gastrointestinal. Los efectos secundarios de esta clase de
                        medicamentos son muy raros e incluyen cefalea y mareo.
                    </i>
                </p>
                <br>
                <p>
                    <i>
                        Los antiespasmódicos anticolinérgicos atenúan los espasmos o contracciones en el intestino y, por tanto, tienen
                        el potencial de reducir el dolor abdominal. Los efectos secundarios más comunes de los anticolinérgicos son cefalea,
                        mareo, visión borrosa, disuria, disminución de la sudación,
                        exantema y xerostomía. Debido a ello, en Estados Unidos
                        algunos anticolinérgicos se emplean en combinación con
                        clorodiazepóxido para disminuir los efectos secundarios.
                    </i>
                </p>
                <br>
                <b>De acuerdo con su mecanismo de acción, se pueden clasificar así:</b>
                <p>
                    <i>
                        <ul>
                            <li>Agentes relajantes directos del músculo liso (mebeverina, agentes derivados de la papaverina).</li>
                            <li>Agentes anticolinérgicos (butilbromuro de hioscina, hioscina, hiosciamina, levofloxacina, dicicloverina, butilescopolamina, trimebutina y bromuro de cimetropio).</li>
                            <li>Agentes bloqueadores de los canales del calcio (bromuro de pinaverio, bromuro de otilonio, alverina, fenoverina, rociverina y pirenzepina).</li>
                        </ul>
                    </i>
                </p>
                <br>
                <p>
                    <i>
                        Los relajantes directos del músculo liso reducen el tono y el peristaltismo. Es así como pueden aliviar el dolor intestinal sin afectar de forma sustancial la motilidad gastrointestinal.
                        Por otra parte, los antiespasmódicos anticolinérgicos atenúan los espasmos o las contracciones en el intestino y, por tanto, tienen el potencial de reducir el dolor abdominal 23,24. 
                        Entre tanto, los antagonistas del calcio relajan el intestino al prevenir la entrada de este en las células del músculo liso intestinal. <br> <br> Dado que el calcio desencadena la cascada de sucesos que activa la contracción muscular, 
                        su inhibición en las células causa relajación intestinal. Este grupo de medicamentos, al reducir el índice de motilidad, puede disminuir el reflejo gastrocólico y modificar el tiempo de tránsito colónico.
                        El N-butilbromuro de hioscina es el antiespasmódico más expandido en el mercado, tanto como venta libre o bajo fórmula médica. Se comercializa como una monodroga o un asociado a los analgésicos. 
                        Este es un alcaloide derivado de la belladona, cuyas propiedades farmacológicas se deben a sus efectos anticolinérgicos, 
                        que lo hacen efectivo en la disminución de la frecuencia y la intensidad de los movimientos de tipo espasmódicos en el tracto gastrointestinal. <br>
                        <br>
                        Se cree que la capacidad de este medicamento para prevenir vómitos y náuseas provocados por el movimiento está asociada a la inhibición vestibular que ejerce en el sistema nervioso central (SNC). 
                        Esto resulta en una inhibición del reflejo del vómito. Además, tiene una acción directa sobre el centro del vómito, que se encuentra en la formación reticular del tallo cerebral. 
                        Esta última acción lo plantea como una alternativa en la dispepsia funcional 
                    </i>
                </p>
                <br>
                <b>Antiespasmódicos en el SII</b>
                <p>
                    <i>
                        Se han realizado distintas revisiones y metaanálisis para la evaluación del manejo del SII. En 2014, el American College of Gastroenterology publicó una revisión en la que se describe que los antiespasmódicos se han utilizado durante décadas para el tratamiento del SII. Dicho trabajo se basó en el concepto según el cual muchos de los síntomas del SII corresponden al espasmo del músculo liso del colon 16.
                        Así, se identificaron 25 estudios controlados que evaluaron a 2154 pacientes. Solo 3 de estos trabajos usaron criterios diagnósticos estandarizados (Roma I, II) 26-28.  <br>  <br> Los otros estudios son previos a la publicación de los criterios de Roma. Esta revisión muestra que la terapia antiespasmódica tiene un efecto estadísticamente significativo en la mejora de los síntomas del SII, con un número de pacientes que es necesario tratar (Number Needed to Treat, NNT) de 5.
                        Sin embargo, el efecto de los antiespasmódicos en forma individual es variable y difícil de interpretar, ya que solo existe un pequeño número de estudios que evalúan cada uno de los 12 fármacos diferentes disponible para revisión. Con respecto a los agentes individuales, el bromuro de otilonio 26-28, el butilbromuro de hioscina 29-31, el bromuro de cimetropio 32-34, el bromuro de pinaverio 35 y el clorhidrato de diciclomina 36 mostraron efectos beneficiosos con unos NNT de 5, 3, 3, 3 y 4, respectivamente. <br> <br>
                        En efecto, un metaanálisis evaluó la efectividad de los agentes relajantes del músculo liso en el SII y concluyó que estos medicamentos son más efectivos que el placebo en el tratamiento de dicho síndrome 21.
                        En una reciente revisión sobre el tema tratamiento del SII, se evaluaron otros reguladores del musculo liso
                    </i>
                </p>
                <br>
                <b>Otros reguladores del músculo liso</b>
                <p>
                    <i>
                        <b>Mebeverina:</b>
                        <br>
                        La mebeverina es un antiespasmódico con acción musculotrópica, que actúa directamente sobre el músculo liso del intestino, 
                        por lo que no se asocia con efectos adversos anticolinérgicos. Los resultados en ensayos clínicos aleatorizados individuales muestran una discordancia entre ellos.
                        Sin embargo, al analizar los datos disponibles en forma de metaanálisis no se observan diferencias estadísticamente significativas en favor de este medicamento en relación con una mejoría global de los síntomas: 
                        distensión o dolor abdominal
                    </i>
                </p>
                <br>
                <b>Bromuro de otilonio:</b>
                <br>
                <p>
                    <i>
                        El bromuro de otilonio es un antiespasmódico con acción sobre los receptores muscarínicos. Además, es un bloqueante de los canales de calcio, 
                        que ha sido ampliamente usado en el tratamiento del SII. 
                        En un metaanálisis publicado en 2012 se agrupan 4 ensayos clínicos aleatorizados que evaluaron el bromuro de otilonio frente a placebo.
                        Se observan diferencias estadísticamente significativas en favor de dicho medicamento con respecto a la mejoría global de los síntomas,
                        con un NNT de 7 y dolor abdominal con un NNT de 8. Los efectos adversos del bromuro de otilonio fueron similares a los del grupo placebo
                    </i>
                </p>
                <br>
                <b>Citrato de alverina:</b>
                <br>
                <p>
                    <i>
                        El citrato de alverina es un antiespasmódico bloqueante de los canales de calcio, que comúnmente se asocia con simeticona para el tratamiento del SII.
                        Se han publicado varios ensayos clínicos aleatorizados que evalúan su acción frente a placebo o frente a tratamientos convencionales. 
                        En ellos se evidencian diferencias estadísticamente significativas en favor de este agente en cuanto a la mejoría global de síntomas y el dolor abdominal, los cuales reportan NNT de 8 y 11, respectivamente.
                        Asimismo, el citrato de alverina ha mostrado generar una mejoría estadísticamente significativa de la distensión abdominal 
                        y la calidad de vida en estudios individuales realizados en pacientes con SII. Además, parece tener un perfil de seguridad alto, 
                        con efectos adversos que no difieren de los grupos placebo
                    </i>
                </p>
                <br>
                <b>Bromuro de pinaverio:</b>
                <br>
                <p>
                    <i>
                        El bromuro de pinaverio también es un antiespasmódico bloqueante de los canales de calcio, usado para el tratamiento del SII. 
                        Suele administrarse solo o en combinaciones. En un metaanálisis realizado por Cochrane en 2011 se agrupan 4 ensayos clínicos aleatorizados,
                         que evaluaron la mejoría global de los síntomas del SII en pacientes tratados con bromuro de pinaverio. Se obtuvieron diferencias estadísticamente significativas en favor del grupo de tratamiento.
                        En 3 de estos ensayos clínicos aleatorizados se evaluó la eficacia del medicamento en la mejoría del dolor abdominal, con diferencias significativas en favor del pinaverio.
                        Otro metaanálisis, publicado un año después, valoró los beneficios del pinaverio asociado con simeticona en 2 ensayos clínicos aleatorizados.
                        Uno de ellos mostró beneficios significativos de dicha combinación, en relación con la mejoría de la distensión abdominal,
                         mientras que en el otro no se observaron ventajas frente a placebo en la mejoría global de los síntomas y el dolor abdominal.
                        Así, tanto solo como en combinación, el bromuro de otilonio parece ser un medicamento seguro, cuyos efectos adversos no difieren de los de placebo
                    </i>
                </p>
                <br>
                <b>Maleato de trimebutina:</b>
                <br>
                <p>
                    <i>
                        La trimebutina es un antiespasmódico bloqueante de los canales de calcio, el cual se emplea en el tratamiento del SII.
                         En altas concentraciones, este medicamento reduce la amplitud de las contracciones espontáneas y de los potenciales de acción.
                          También tiene un efecto analgésico y actúa como agonista débil de los receptores μ (ROM). 
                          Un metaanálisis publicado en 2001 muestra diferencias estadísticamente significativas en favor de la trimebutina en la mejoría global de los síntomas.
                        Entre tanto, otro metaanálisis, previamente citado en esta revisión, describe ventajas significativas de la trimebutina para el dolor abdominal. 
                        Sin embargo, los estudios con este fármaco han sido realizados con un número bajo de pacientes, 
                        lo cual explica que, al incluir o excluir alguna publicación para el análisis, difieran las conclusiones de los distintos metaanálisis.
                        Respecto de los efectos adversos, no se reportan diferencias frente a placebo en ninguna de las publicaciones evaluadas para esta revisión
                    </i>
                </p>
                <br>
                <b>Aceite de menta (peppermint oil):</b>
                <br>
                <p>
                    <i>
                        El aceite de menta actúa a través de varios mecanismos: es bloqueante de los canales de calcio, antagonista de los receptores κ (ROK) y antagonista de los receptores 5-HT3. 
                        Por esta razón, además de tener propiedades antiespasmódicas, produce otros efectos relevantes en el tratamiento del SII, como la normalización del tiempo de tránsito orocecal 40.
                        La evidencia disponible sobre su utilización en el tratamiento del SII parece más sólida que la de los antiespasmódicos convencionales.
                        Así se reporta en un metaanálisis en el que se observa una mejoría significativa del dolor abdominal y los síntomas globales, con un NNT de 4 y 3, respectivamente.
                        En esta revisión se reportaron efectos adversos como náuseas, vómitos y pirosis. Este último parece disminuir cuando el fármaco es administrado en tabletas con triple cubierta
                    </i>
                </p>
                <br>
                <b>Eluxadolina:</b>
                <br>
                <p>
                    <i>
                        La eluxadolina es un agonista de los receptores opioides μ y κ, así como también es un antagonista del receptor δ (ROD) del sistema nervioso entérico.
                         La acción agonista de los ROM promueve el retardo del vaciamiento gástrico, el enlentecimiento del tránsito de intestinal y el aumento de la presión del esfínter anal.
                        De otro lado, el efecto antagonista de los ROD contrarresta la constipación resultante y aumenta la analgesia del agonismo de los ROM 42.
                         La eluxadolina se ha indicado en el tratamiento del SII con diarrea y ha mostrado NNT que oscilan entre 8 y 33, con valores promedio de 12,5.
                        En un metaanálisis de 2017, que incluyó a 2427 pacientes, se observó una mejoría estadísticamente significativa en el alivio del dolor abdominal, 
                        en la consistencia de las evacuaciones, en los síntomas globales y en la calidad de vida relacionada con el SII.
                        Sin embargo, se reportaron efectos adversos significativos, que incluyeron náuseas, vómitos, dolor abdominal y constipación. 
                        También se encontró una mayor incidencia de pancreatitis y de espasmo del esfínter de Oddi, en particular en pacientes previamente colecistectomizados. 
                        Debido a la aparición de estos eventos, la FDA (Food and Drug Administration) contraindica el uso de la eluxadolina en personas con historia de trastornos biliares,
                         pancreatitis, insuficiencia hepática grave o alcoholismo, así como en aquellos individuos colecistectomizados

                    </i>
                </p>
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}