{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('farmacos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Farmaco Antidiuretico</b></i></h1>
                    <i>
                        <b><i>Consepto:</i></b>
                        <br>
                        Sustancia que inhibe la diuresis. 
                        <br>
                        Esta hormona ayuda a los riñones a controlar la cantidad de agua que su cuerpo pierde a través de la orina. El SSIHA provoca que el cuerpo retenga demasiada agua.
                        <br>
                        <br>
                        El Síndrome de secreción inadecuada de la hormona antidiurética (SSIHA) es una afección en la cual el cuerpo produce demasiada hormona antidiurética (HAD). 
                        Esta hormona ayuda a los riñones a controlar la cantidad de agua que su cuerpo pierde a través de la orina. El SSIHA provoca que el cuerpo retenga demasiada agua.
                        La HAD es una sustancia producida naturalmente en una zona del cerebro llamada hipotálamo. Después es liberada por la glándula pituitaria en la base del cerebro.
                    </i>
                </p>
                <br>
                <p>
                    <b>Causas</b>
                    <i>
                        Existen muchas razones por las cuales el cuerpo necesita fabricar mucha HAD. Las situaciones comunes en la que la HDA se libera en la sangre cuando no debería producirse (inadecuada) incluyen:
                        <ul>
                            <li>Medicamentos, como ciertos fármacos anticonvulsivos, antidepresivos, fármacos contra el cáncer, opiáceos (con menos frecuencia) y fármacos para el corazón, la diabetes y la presión arterial</li>
                            <li>Cirugía bajo anestesia general</li>
                            <li>Trastornos cerebrales, como una lesión, infecciones y accidente cerebrovascular</li>
                            <li>Cirugía cerebral en la región del hipotálamo</li>
                            <li>Tuberculosis, cáncer, infecciones crónicas y enfermedades pulmonares como la neumonía</li>
                            <li>Abuso de sustancias </li>
                            <b>Las causas menos comunes incluyen:</b>
                            <li>Enfermedades poco comunes del hipotálamo o la glándula hipofisaria</li>
                            <li>Leucemia y cáncer del intestino delgado, el páncreas y el cerebro</li>
                            <li>Trastornos mentales </li>
                        </ul>
                    </i>
                </p>
                <br>
                <b>Síntomas</b>
                <p>
                    <i>
                        Con el SSIHA, la orina es muy concentrada. No se excreta suficiente agua y hay demasiada agua en la sangre. 
                        Esto diluye muchas sustancias en la sangre como el sodio. Un nivel bajo de sodio en la sangre es la causa más común de los síntomas de tener demasiada HAD.
                        A menudo, no hay ningún síntoma por el bajo nivel de sodio leve. Se presentan más síntomas cuanto más bajo es el nivel de sodio.
                        Cuando los síntomas sí se presentan, pueden incluir cualquiera de los siguientes:
                        <ul>
                            <li>Náuseas y vómitos</li>
                            <li>Dolor de cabeza</li>
                            <li>Problemas con el equilibrio que puede resultar en caídas</li>
                            <li>Cambios mentales, como confusión, problemas de memoria, comportamientos extraños</li>
                            <li>Convulsiones o coma, en casos graves</li>
                        </ul>
                    </i>
                </p>
                <br>
                <b>Pruebas y exámenes</b>
                <p>
                    <i>
                        El proveedor de atención médica llevará a cabo un examen físico completo para ayudar a determinar la causa de sus síntomas.
                        Establecer cuál es el estado de hidratación (deshidratado, sobrecarga de volumen, volumen normal) es una parte importante para realizar un diagnóstico correcto.
                        Los exámenes de laboratorio que pueden confirmar y ayudar a hacer un diagnóstico de un nivel bajo de sodio incluyen:
                        <ul>
                            <li>Pruebas metabólicas completas (incluye sodio en sangre)</li>
                            <li>Examen de osmolalidad en sangre</li>
                            <li>Osmolalidad en orina</li>
                            <li>Sodio y potasio en orina</li>
                            <li>Pruebas de detección toxicológica para ciertos medicamentos</li>
                            <li>Pruebas imagenológicas de pulmones y cerebro en niños con sospecha de SSIHA</li>
                        </ul>
                        La HAD se puede medir en la sangre, pero para muchos laboratorios es difícil procesarla y obtener un resultado toma hasta dos semanas. La copeptina en suero puede ser utilizada para estimar el nivel de HAD en la sangre.
                    </i>
                </p>
                <br>
                <b>Tratamiento</b>
                <p>
                    <i>
                        El tratamiento depende de la causa del problema. Por ejemplo, la cirugía se hace para retirar el tumor que está produciendo la HAD. O, si un medicamento es la causa, la dosis puede cambiar o se puede tratar con otro medicamento. <br>
                        <br>
                        En todos los casos, el primer paso es limitar la ingesta de líquidos. Esto ayuda a prevenir que el exceso de líquidos se acumule en el cuerpo. Su proveedor cuál debe ser su ingesta de líquidos total diaria. Las restricciones no son solo de agua, sino de todos los líquidos (café, te, jugo, soda, etc.). <br>
                        <br>
                        Si tiene síntomas graves, es una emergencia médica. Esto se trata normalmente con solución salina (3% salina) suministrada por vía IV en la vena (intravenosa) en el hospital.  <br>
                        <br>
                        Puede ser necesario tomar medicamentos para bloquear los efectos de la HAD en los riñones para que el exceso de agua sea eliminado por los riñones. Estos medicamentos se pueden administrar como píldoras o como inyecciones en las venas (intravenosas). <br>
                    </i>
                </p>
                <br>
                <b>Expectativas (pronóstico)</b>
                <p>
                    <i>
                        El desenlace clínico depende de la afección que esté causando el problema. El nivel bajo de sodio que ocurre en menos de 48 horas (hiponatremia aguda), 
                        es más peligroso que el nivel bajo de sodio que se desarrolla lentamente con el tiempo. Cuando el nivel de sodio desciende lentamente con los días o semanas (hiponatremia crónica), 
                        las células del cerebro tienen tiempo para ajustarse y los síntomas agudos como la hinchazón del cerebro no se presentan. La hiponatremia crónica, 
                        está asociada con problemas del sistema nervioso como falta de balance y de memoria. Muchas causas de SSIHA son reversibles.
                        La corrección rápida de la hiponatremia también puede causar complicaciones peligrosas (desmielización osmótica)
                    </i>
                </p>
                <br>
                <b>Posibles complicaciones</b>
                <p>
                    <i>
                        En casos graves, el nivel bajo de sodio puede llevar a:
                        <ul>
                            <li>Disminución de la lucidez mental, alucinaciones o coma</li>
                            <li>Hernia cerebral</li>
                            <li>Muerte</li>
                        </ul>
                    </i>
                </p>

            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}