{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Control de Heces</b></i></h1>
                    <i>
                        <b><i>Consepto:</i></b>
                        <br>
                        El análisis de heces es una serie de pruebas que se realizan en una muestra de heces (materia fecal) para ayudar a diagnosticar ciertas afecciones que afectan el tubo digestivo.
                         Estas afecciones pueden incluir infección (como de parásitos, virus o bacterias), absorción deficiente de nutrientes o cáncer.
                         <br>
                         Para realizar el análisis de heces, se recoge una muestra de heces en un frasco limpio y, luego, se envía al laboratorio. El análisis de laboratorio incluye un examen microscópico, pruebas químicas y pruebas microbiológicas. Se evaluarán el color, la consistencia, la cantidad, la forma y el olor de las heces y la presencia de mucosidad. Las heces se pueden examinar para determinar si hay sangre oculta, grasa, fibras de carne,
                          bilis, glóbulos blancos y azúcares, llamados sustancias reductoras. También se puede medir el pH de las heces. El cultivo de heces se realiza para averiguar si las bacterias pueden ser la causa de una infección.
                    </i>
                </p>
                <br>
                <b><i>El análisis de heces se hace para:</i></b><br>
                <p>
                    <i>
                        <ul>
                            <li>Ayudar a identificar enfermedades del tubo digestivo, del hígado y del páncreas. Se pueden evaluar ciertas enzimas (como tripsina o elastasa) en las heces para ayudar a determinar lo bien que funciona el páncreas.</li>
                            <li>Ayudar a encontrar la causa de síntomas que afectan el tubo digestivo, como diarrea prolongada o sanguinolenta (con sangre), aumento de gases, náuseas, vómitos, pérdida del apetito, abotagamiento, dolor y cólicos abdominales, y fiebre.</li>
                            <li>Detectar cáncer de colon, al revisar si hay sangre oculta.</li>
                            <li>Buscar parásitos, como oxiuros o Giardia</li>
                            <li> Buscar la causa de una infección. Esta puede deberse a bacterias, hongos o virus.</li>
                            <li> Determinar si hay absorción deficiente de nutrientes del tubo digestivo (síndrome de mala absorción). Para realizar esta prueba, se recolectan las heces durante un período de 72 horas y luego se examina en busca de grasa (y a veces fibras de carne). Esta prueba se llama recolección de heces de 72 horas o prueba cuantitativa de grasa fecal.</li>
                        </ul>
                        Hable con su médico acerca de cualquier inquietud que tenga sobre la necesidad de la prueba, sus riesgos, el modo en que se realizará o el significado de los resultados.
                    </i>
                </p>
                <br>
                <b><i>Como se Hace:</i></b>
                <p>
                    <i>
                        Las muestras de heces se pueden recoger en casa, en el consultorio del médico, en una clínica o en el hospital.
                        Si recoge las muestras en casa, le darán kits de recolección de heces para usar cada día. Cada kit contiene aplicadores y dos frascos estériles.
                        Es posible que deba recolectar más de una muestra en el periodo de 1 a 3 días. Siga el mismo procedimiento todos los días. <br>
                        <b>Recoja la muestra de la siguiente manera:</b>
                        <ul>
                            <li> Orine antes de recoger las heces para que no haya nada de orina en la muestra de heces.</li>
                            <li> Póngase guantes antes de manipular las heces. Las heces pueden contener microbios que propaguen la infección. Lávese las manos después de quitarse los guantes.</li>
                            <li>Evacue el intestino (sin orinar) en un recipiente seco. Es posible que le den una bacinilla de plástico que se puede colocar debajo del asiento del inodoro para recoger las heces.</li>
                            <li>Se pueden recoger heces sólidas o líquidas.</li>
                            <li> Si tiene diarrea, puede pegar una bolsa de plástico al asiento del inodoro para facilitar el proceso de recolección y, luego, colocar la bolsa en un recipiente de plástico.</li>
                            <li>   Si está estreñido, le podrían realizar un enema pequeño.</li>
                            <li>  No recoja la muestra de la taza del inodoro.</li>
                            <li>No mezcle papel higiénico, agua o jabón con la muestra.</li>
                            <li> Tape el recipiente y etiquételo con su nombre, el nombre de su médico y la fecha en que se recogieron las heces.
                                Use un frasco para la muestra de cada día y recolecte una muestra solo una vez al día, a menos que su médico le dé otras indicaciones.
                            </li>
                        </ul>
                    </i>
                </p>
                <br>
                <p>
                    <i>
                        Lleve el recipiente cerrado herméticamente al consultorio de su médico o al laboratorio lo más pronto posible. Es posible que tenga que entregar su muestra al laboratorio a una hora determinada. Dígale a su médico si cree que podría tener problemas para llevar la muestra al laboratorio a tiempo.
                        <br>
                        Si se recolectan las heces en la oficina de su médico o en el hospital, deberá pasarlas a un frasco plástico que se coloca debajo del asiento del inodoro o en un orinal de cama. Un profesional de la salud embalará la muestra para el análisis de laboratorio.
                        <br>
                        Si la muestra se analizará para detectar grasas cuantitativas, tendrá que recoger las heces durante 3 días seguidos. Deberá comenzar a recoger las heces en la mañana del primer día. Las muestras se colocan en un frasco grande y, luego, se refrigeran.
                        <br>
                        Si tiene síntomas digestivos después de viajar fuera del país, es posible que tenga que recoger varias muestras de heces en un lapso de 7 a 10 días. <br>
                        Las muestras de bebés y de niños pequeños se pueden recoger de los pañales (si las heces no están contaminados con orina) o con un tubo de vidrio de poco diámetro que se introduce en el recto del bebé mientras el bebé está en el regazo de un adulto. <br>
                        A veces, se recoge una muestra de heces con un hisopo rectal que contiene un conservante. El hisopo se introduce en el recto, se gira suavemente y, luego, se retira. Se coloca en un recipiente limpio y seco y se envía al laboratorio de inmediato.
                    </i>
                </p>
                <br>
                <b><i>Riesgos</i></b>
                <p>
                    <i>
                        Cualquier muestra de heces puede contener microbios que pueden propagar enfermedades. Es importante que se lave las manos cuidadosamente y que use técnicas de manejo cuidadoso para evitar la propagación de una infección.
                    </i>
                </p>

            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}