{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Manejo de Bata</b></i></h1>
                    <b><i>Consepto:</i></b>
                    <p><i>La bata del médico desde el punto de vista práctico, es una barrera mecánica entre él y su paciente. Está destinada a evitar la contaminación con microorganismos, 
                        de la ropa del médico, a fin de no convertirlo en un fómite.</i></p>
                </p>
                <p><i>
                   <b> La Bata en el hospital</b> <br>
                    Se impone un nuevo cambio, determinar cuál es el lugar más apropiado para atender
                    a los pacientes, en el hospital como institución o su domicilio particular. Esta nueva
                    situación supuso la tercera causa histórica del uso de la bata. La base para esta variabilidad
                    fue el desarrollo de la cirugía aséptica y de las modernas técnicas diagnósticas y
                    terapéuticas que necesitan el uso de personal y recursos que no podían ser utilizados en la
                    casa del paciente. Con este nuevo impacto en cuanto a la atención medica la imagen del
                    hospital cambio, de ser un lugar donde los prescritos sociales morían, a ser un lugar donde
                    los enfermos podían ser curados.
                    <br>
                    Esta nueva imagen, de la muerte a la vida, tuvo su reflejo incluso en el reemplazo
                    de las vestimentas del personal sanitario del hospital. Los uniformes negros de las
                    enfermeras de las órdenes religiosas, por ejemplo, se volvieron blancos; era la enfermería
                    moderna.
                    <br>
                    De esta forma en los hospitales modernos todo el personal sanitario e incluso los
                    enfermos y visitantes deberían cambiar su atuendo por vestimentas blancas. Mientras que el
                    personal no sanitario vestían con uniformes de otros colores. El blanco se asoció y adopto
                    como color simbólico de la institución, con las salas del hospital donde se curaban a los
                    pacientes, reforzándose con ello la simbología de la bata blanca.
                    <br>
                    Esta transmisión se ve más claramente reflejada en fotografías del personal médico
                    de la época, en las que se puede ver, incluso reflejada como los estudiantes de medicina
                    cambian su vestimenta de calle por bata y pantalones blancos. Según informes encontrados
                    de algunos hospitales reflejan que los uniformes , blancos de los internos eran difíciles de 
                </i></p>
                <br>
                <p><i>
                    <b>Descripción de la bata</b> <br>
                    Las batas están hechas de tela de algodón de buena calidad, con una abertura
                    posterior y cintas para anudarse. Para protección extra el peto de la bata o la pechera es
                    doble, para que la transpiración no pase al grosor de la tela. Cada manga termina en un
                    puño de los guantes a la bata. Existen batas desechables de papel, pero en nuestro país se
                    prefiere de tela de algodón. <br> La bata es una barrera protectora para evitar el paso de
                    microorganismos desde la piel y el pijama de quien usa al campo estéril y al paciente,
                    previniendo la penetración de sangre o líquidos corporales desde el paciente al pijama y la
                    piel del usuario.
                    <br>
                    Aunque se esteriliza toda la bata, la zona de la espalda no se considera estéril, así
                    como por debajo del nivel de la mesa, una vez que se pone la bata. Se recomienda utilizar
                    batas estériles que se cruzan sobre la espalda, cubriendo por completo esta región. Estas
                    batas se atan al cuello y a la cintura antes de cruzar la parte estéril sobre la espalda y se ata
                    con cintas de un lado o en la región anterior. Si la bata solo cierra con cintas sobre la
                    espalda, hay que colocar un paño estéril sobre la misma para cubrir la parte expuesta del
                    pijama en la zona de la espalda. <br> Los puños de las batas son de tejido elástico o grueso para
                    que se ajusten bien a las muñecas. Los guantes deben cubrir los puños de la bata.
                    Las batas han de ser resistentes a la penetración de líquidos y sangre, ser cómodas y
                    no producir un calor excesivo. La mayoría de las batas desechables están hechas de
                    materiales de fibra de hilo no entrelazada, repelente de la humedad. Algunos están
                    reforzados con un plástico en los antebrazos y la parte delantera.
                </i></p>
                <br>
                <p><i>
                    <b>Objetivo de la bata</b> <br>
                    Proteger de microorganismos patógenos, tanto al trabajador como al paciente, en
                    situaciones de alta probabilidad de contagio.
                    <br>
                    <b>Precauciones para el uso de la bata:</b> <br>

                    <ul> 
                        <li>Cerciorarse que su uso sea solo dentro del cuarto. Excepto cuando se tiene un grupo
                            de pacientes con la misma enfermedad.</li>
                        <li>Cerciorarse que cubra por completo el uniforme.</li>
                        <li>Si se cuelga dentro del cuarto del paciente, cerciorarse que el lado contaminado
                            quede hacia afuera. Si se cuelga fuera del cuarto cerciorarse que el lado
                            contaminado este doblado hacia adentro.</li>
                            <li>Cerciorarse que la bata cierre completamente por atrás. </li>
                    </ul>
                </i></p>
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}