{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Estoma Urinario</b></i></h1>
                    <i>
                        <b><i>Consepto:</i></b>
                        <br>
                        Un estoma es una porción de su intestino grueso o delgado o tracto urinario que se ha llevado a través de la superficie de su abdomen y luego se pliega sobre sí mismo. La ubicación depende de su condición médica. <br>
                        Un estoma proporciona un camino alternativo para que la orina (en el caso de urostomía) o heces (en el caso de una colostomía o ileostomía) salgan de su cuerpo.
                    </i>
                </p>
                <br>
                <b>Todos los estomas no se crean de la misma manera. Varían en tamaño, forma, ubicación y construcción</b>
                <p>
                    <i>
                        <ul>
                            <li>Estoma de punta: se corta el intestino, y se lleva la punta funcional a través del abdomen a la superficie de la piel.</li>
                            <li>Estoma en asa: se lleva una porción del intestino a través del abdomen a la superficie de la piel y se asegura temporalmente dicha porción del intestino sobre una pieza de plástico en forma de vara.</li>
                            <li>Estoma con doble barril: se llevan las puntas del intestino a través del abdomen a la superficie de la piel como dos estomas separados.</li>
                        </ul>
                        Dependiendo del motivo de su ostomía, su cirujano decidirá qué tipo de estoma es mejor para usted.
                        Como usted, cada estoma es único. Cuidar bien de su estoma eligiendo un sistema de bolsa y rutina que se adecúe a su estilo de vida es crítico para su comodidad y salud. 
                        Cuando se ajusta correctamente y se cuida apropiadamente, los sistemas de bolsa le ayudan a regresar a una vida más activa.
                    </i>
                </p>
                <br>
                <b>Acerca de su estoma</b>
                <p>
                    <i>
                        El estoma está hecho de la parte de su intestino delgado llamada íleon. Los uréteres están conectados a un extremo de un pequeño pedazo de su íleon. El otro extremo se convierte en el estoma y sale a través de la piel del abdomen. <br>
                        Un estoma es muy delicado. Un estoma sano es de color rojo rosáceo y húmedo. El estoma debe sobresalir ligeramente de la piel. Es normal ver un poco de moco. Las manchas de sangre o una pequeña cantidad de sangrado del estoma también son normales. <br>
                        Usted nunca debe meter nada dentro del estoma, a menos de que el proveedor de atención médica se lo indique. <br>
                        El estoma no tiene terminaciones nerviosas, por lo que usted no podrá sentir cuando algo lo toque. Tampoco sentirá si se corta o se raspa. Sin embargo, verá una línea amarilla o blanca en el estoma si este se raspa.
                    </i>
                </p>
                <br>
                <b>Cuidado de la piel alrededor de su estoma</b>
                <p>
                    <i>
                        Después de la cirugía, la piel alrededor del estoma debe lucir como antes de la operación. La mejor manera de proteger la piel es:
                        <ul>
                            <li>Usando un saco o bolsa de urostomía con la abertura del tamaño correcto para que la orina no se salga</li>
                            <li>eniendo mucho cuidado con la piel alrededor de su estoma</li>
                        </ul>
                        <br>
                        <b> Para el cuidado de la piel en esta zona:</b>
                        <ul>
                            <li>Lave la piel con agua tibia y séquela bien antes de conectar la bolsa.</li>
                            <li>Evite productos para el cuidado de la piel que contengan alcohol. Estos pueden resecarla demasiado.</li>
                            <li>No utilice productos que contengan aceite sobre la piel alrededor del estoma. Estos pueden dificultar la fijación de la bolsa a la piel.</li>
                            <li>Utilice productos especiales para el cuidado de la piel. Esto hará que los problemas cutáneos sean menos probables.</li>
                        </ul>
                    </i>
                </p>
                <br>
                <p>
                    <i>
                        Asegúrese de tratar cualquier cambio o enrojecimiento de la piel inmediatamente, 
                        cuando el problema sea menor. No deje que la zona del problema se vuelva más grande o más irritada antes de preguntarle al respecto a su proveedor.  <br>
                        La piel alrededor del estoma puede volverse sensible a los suministros que usted utiliza, como la barrera cutánea,
                         la cinta, el adhesivo o la bolsa misma. Esto podría ocurrir lentamente con el tiempo y no presentarse durante semanas, meses o incluso años después de usar un producto. <br>
                        <br>
                        Si tiene vello en la piel alrededor del estoma, quitarlo puede ayudar a que la bolsa permanezca más asegurada en su lugar.
                        <ul>
                            <li>Utilice unas tijeras para recortar, una rasuradora eléctrica o hágase un tratamiento con láser para eliminar el vello.</li>
                            <li>No utilice una hoja ni una maquinilla de afeitar.</li>
                            <li>Tenga cuidado de proteger su estoma si quita el vello a su alrededor.</li>
                        </ul>
                    </i>
                </p>
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}