{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Hipotermia</b></i></h1>
                    <i>
                        <h6 class="text-muted"><b><i>Consepto:</i></b></h6>
                        La hipotermia es una urgencia médica que ocurre cuando el cuerpo pierde calor más rápido de lo que lo produce, lo que provoca una peligrosa disminución de la temperatura corporal. 
                        La temperatura corporal normal es de alrededor de 98,6 ºF (37 ºC). La hipotermia se produce cuando la temperatura del cuerpo cae por debajo de 95 ºF (35 ºC).
                    </i>
                </p>
                <br>
                <b><i>Síntomas</i></b>
                <p>
                    <i>
                        Los escalofríos son lo primero que notarás cuando la temperatura comience a bajar debido a que son la defensa automática del cuerpo contra la temperatura baja para calentarse.
                    </i>
                    <br>
                    <b><i>Los signos y síntomas de la hipotermia incluyen:</i></b>

                </p>
                <p>
                    <i>
                        <ul>
                            <li>Escalofríos</li>
                            <li>Hablar arrastrando las palabras o balbuceo</li>
                            <li>Respiración lenta y superficial</li>
                            <li>Pulso débil</li>
                            <li>Torpeza o falta de coordinación</li>
                            <li>Somnolencia o muy poca energía</li>
                            <li>Desorientación o pérdida de memoria</li>
                            <li>Pérdida del conocimiento</li>
                            <li>Piel de color rojo brillante y fría (en bebés)</li>
                        </ul>
                    </i>
                </p>
                <br>
                <b><i>Causas</i></b>
                <p>
                    <i>
                        La hipotermia se produce cuando el cuerpo pierde calor más rápido de lo que lo produce. La causa más frecuente de hipotermia es la exposición a condiciones de clima frío o a agua fría. 
                        Sin embargo, la exposición prolongada a cualquier ambiente más frío que el cuerpo puede provocar hipotermia si no estás vestido de manera adecuada o si no puedes controlar las condiciones.
                    </i>
                </p>
                <p>
                    <b><i> Las causas específicas que pueden provocar hipotermia comprenden las siguientes:</i></b>
                    <i>
                        <ul>
                            <li>Utilizar ropa que no es lo suficientemente cálida como para las condiciones climáticas</li>
                            <li>Quedarse afuera en el frío demasiado tiempo</li>
                            <li>No poder sacarse la ropa mojada o no poder trasladarse a un sitio seco y cálido </li>
                            <li>Caerse accidentalmente al agua, como en un accidente de navegación</li>
                            <li>Vivir en una casa demasiado fría, ya sea por una mala calefacción o demasiado aire acondicionado</li>
                        </ul>
                    </i>
                </p>
                <b><i>Factores de riesgo</i></b>
                <p>
                    <i>
                        <ul>
                            <li><b>Cansancio.</b>  Tu tolerancia al frío disminuye cuando estás fatigado.</li>
                            <li><b>Edad avanzada.</b> La capacidad del cuerpo para regular la temperatura y sentir frío se puede reducir con la edad. 
                                Y algunos adultos mayores pueden no ser capaces de comunicarse cuando tienen frío o de trasladarse a un lugar cálido si sienten frío.</li>
                            <li><b>Corta edad</b>  Los niños pierden calor más rápido que los adultos. Los niños también pueden ignorar el frío porque se divierten demasiado como para pensar en ello. 
                                Y también pueden no tener el criterio de vestirse apropiadamente para el clima frío o de refugiarse del frío cuando deberían.</li>
                            <li><b>Problemas mentales.</b> Es posible que las personas con una enfermedad mental, demencia u otras afecciones que interfieran en el juicio no se vistan apropiadamente para el clima o no comprendan el riesgo del clima frío. Las personas con demencia pueden alejarse del hogar o perderse fácilmente, 
                                por lo que es más probable que queden varadas en exteriores con clima frío o húmedo.</li>
                            <li><b>Consumo de alcohol y drogas.</b> El alcohol puede hacer que tu cuerpo se sienta caliente por dentro, pero hace que tus vasos sanguíneos se expandan, lo que resulta en una pérdida de calor más rápida de la superficie de la piel. 
                                La respuesta natural del cuerpo de generar escalofríos se reduce en las personas que han estado bebiendo alcohol.</li>
                            <li><b>Ciertas afecciones médicas. </b> Algunos trastornos de salud afectan la capacidad del cuerpo para regular la temperatura corporal. Los ejemplos incluyen una tiroides poco activa (hipotiroidismo), mala nutrición o anorexia nerviosa, diabetes, accidente cerebrovascular, artritis grave,
                                 enfermedad de Parkinson, traumatismos y lesiones de la médula espinal.</li>
                            <li><b>Medicamentos.</b> Algunos medicamentos pueden cambiar la capacidad del cuerpo para regular su temperatura. Entre los ejemplos se incluyen ciertos antidepresivos, antipsicóticos, medicamentos analgésicos narcóticos y sedantes.</li>
                        </ul>
                    </i>
                </p>

                <br>
                <b><i>Objetivo</i></b>
                <p>
                    <i>
                        El uso de jabones antisépticos debe ser restringido a: Zonas con resistencias bacterianas, Unidades de Cuidados Críticos; salas de Neonatos, y antes de la realización de cualquier procedimiento invasivo.
                    </i>
                </p>
                <p>
                    <i>
                    </i>
                </p>
            </div>
        </div>
    </div>
</section>
<br>

{% endblock %}