{% extends 'estructura.html' %}
{% block contenedor%}
<section bg-light>
    <div class="container">
        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Lipotimia</b></i></h1>
                    <i>
                        <h6 class=""><b><i>Consepto:</i></b></h6>
                        La lipotimia es una pérdida breve del conocimiento debido a una disminución del flujo sanguíneo del cerebro, lo que provoca que podamos perder el conocimiento de manera completa o parcial.
                    </i>
                </p>
                <br>
                <b><i>Causas</i></b>
                <p>
                    <i>
                        A muchas personas, las emociones fuertes como la ansiedad, el exceso de calor, la fiebre, permanecer en un sitio cerrado o el estrés les puede producir lipotimias. Asimismo, 
                        las personas que se realizan extracciones de sangre o las que tienen la presión arterial baja pueden ser más proclives a padecer lipotimias.
                    </i>
                </p>
                <br>
                <b><i>¿Hay personas más propensas a las lipotimias?</i></b>
                <p>
                    <i>
                        Las personas ancianas, las que presentan comorbilidades asociadas, los que toman algunos medicamentos hipotensores, ciertos antidepresivos o los denominados fármacos dopaminérgicos pueden incrementar el riesgo de lipotimias.
                        La polifarmacia puede incrementarlo también.
                        Otras causas de lipotimia pueden ser: nivel bajo de glucosa en sangre, hambre, deshidratación, incorporarse rápidamente desde una posición estando acostado o el consumo de alcohol o drogas.
                    </i>
                </p>
                <br>
                <b><i>Síntomas</i></b>
                <p>
                    <i>Cuando una persona va a sufrir una lipotimia presentará una serie de signos característicos:</i>
                </p>
                <p>
                    <i>
                        <ul>
                            <li>Debilidad.</li>
                            <li>Palidez.</li>
                            <li>Sudoración fría.</li>
                            <li>Visión borrosa.</li>
                            <li>Pulso débil.</li>
                            <li>Pérdida momentánea de la conciencia.</li>
                        </ul>
                    </i>
                </p>
                <b><i>Prevención</i></b>
                <p><i>
                    Para prevenir una lipotimia es fundamental hidratarse durante todo el día, especialmente los días de mucho calor, y evitar los lugares cerrados. Además,
                    los especialistas aconsejan que las personas que han sufrido episodios de lipotimia tengan cuidado con los movimientos  que realizan y posturan que adoptan.
                </i></p>
                <br>
                <b><i>Diagnóstico</i></b>
                <p>
                    <i>
                        <ul>
                            <li>Análisis de sangre.</li>
                            <li>Monitorizar del ritmo cardíaco.</li>
                            <li>Ecocardiografía.</li>
                            <li>Electrocardiografía.</li>
                            <li>Radiografía de tórax.</li>
                            <li>Electroencefalografía.</li>
                        </ul>
                    </i>
                </p>
                <b><i>Tratamientos</i></b>
                <p><i>
                    Ante un episodio de lipotimia, es fundamental que la persona se tumbe en un lugar fresco con las piernas en alto. Cuando hayan desaparecido los síntomas, se le debe ayudar a incorporarse lentamente,
                    revisando que no tiene ningún golpe o lesiones.
                    Si la víctima no recupera la conciencia, se debe tumbar de lado para que no se ahogue si tiene que vomitar. No obstante, se aconseja acudir al especialista para que valore la situación.
                </i></p>
            </div>
        </div>
    </div>
</section>
<br>

{% endblock %}