{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Colostomia</b></i></h1>
                    <i>
                        <b><i> ¿Qué es una colostomía?</i></b>
                        <br>
                        El colon también se llama intestino grueso. Una colostomía es una cirugía para conectar el colon a la superficie del abdomen (vientre) para permitir que las heces (evacuaciones intestinales) 
                        pasen a una bolsa de recolección fuera del cuerpo. Esto se hace porque el recto, el ano o el esfínter que controla el paso de las heces se han extraído o no se están utilizando.
                    </i>
                </p>
                <br>
                <b><i>¿Cómo se realiza?</i></b>
                <p>
                    <i>
                        Se hace un estoma (agujero) en la pared abdominal. Luego, las heces pueden pasar del colon a la bolsa de recolección. El estoma se puede ver en la parte exterior del abdomen. Está hecho del intestino. El estoma debe ser de color rosa a rojo, cálido y húmedo. Es capaz de segregar moco.
                        No hay músculo esfínter que le permita a la persona controlar el paso de las heces. La ubicación del estoma dependerá del área del colon utilizada para crear el estoma. El tamaño del estoma varía.
                        Tener una colostomía no cambiará la capacidad de su cuerpo para digerir los alimentos. Puede haber cambios en la consistencia de las heces según la ubicación del estoma a lo largo del colon.
                        Una colostomía puede ser permanente o temporal. Su proveedor hablará con usted acerca de su cirugía específica y planeará la colostomía.
                        <br>
                        Se puede realizar una colostomía para tratar ciertos casos de:
                        <ul>
                            <li>Cáncer de colon.</li>
                            <li> Cáncer de recto.</li>
                            <li>Ciertos defectos congénitos.</li>
                            <li>Diverticulitis.</li>
                            <li> Enfermedad inflamatoria intestinal.</li>
                            <li>Lesión del colon y del recto.</li>
                            <li>   Obstrucción intestinal.</li>
                            <li>Lesión/fístula perineal.</li>
                        </ul>
                    </i>
                </p>
                <p>
                    <i>
                        Existen varios tipos diferentes de colostomía que se separan en tres grupos.
                         Cada grupo se refiere a una parte particular del colon: transversal, ascendente y descendente. Entre ellas se incluyen las siguientes:
                        <ul>
                            <li>Las colostomías transversales se localizan en la parte superior media o derecha del abdomen e incluyen:</li>
                            <li>Colostomía transversal en asa: Colocación de dos aperturas estomacales. Una expulsa heces, la otra moco.</li>
                            <li>Colostomía transversal de doble boca: Se crean dos estomas, uno para las heces y el otro para el moco. Se corta el intestino y se lleva cada extremo a la superficie del abdomen.
                                El estoma que expulsa sólo moco es más pequeño que el de las heces fecales. A veces, el estoma utilizado para expulsar el moco se cierra y el moco pasa a través del ano.
                            </li>
                            <li>Colostomía ascendente: No se usa con frecuencia. Las heces que se expulsan de este tipo de colostomía son líquidas y contienen enzimas digestivas. 
                                Esto se debe a la colostomía está ubicada en una parte del colon que se encuentra antes en el proceso digestivo.
                            </li>
                            <li>Colostomías descendentes y sigmoideas: Esta colostomía se realiza en la parte inferior izquierda del abdomen.
                                 Las heces fecales que salen de esta colostomía a menudo son firmes y controlables. Con una colostomía sigmoide, las heces son aún más sólidas y controlables.</li>
                        </ul>
                    </i>
                </p>
                <br>
                <b><i>¿Cuáles son los riesgos de tener una colostomía?</i></b><br>
                <p>
                    <i>
                        Existen riesgos y efectos secundarios relacionados con la resección del intestino delgado. <br> Los riesgos y los efectos secundarios pueden ser:
                        <ul>
                            <li>Reacción a la anestesia. (La anestesia es la medicación que se le administra para ayudarle a dormir durante la cirugía, 
                                no recordarla y controlar el dolor. Las reacciones pueden incluir respiración sibilante, sarpullido, hinchazón y presión arterial baja.)
                            </li>
                            <li>Sangrado.</li>
                            <li>Daño a órganos cercanos.</li>
                            <li>Infección.</li>
                            <li>Estenosis estomacal. (Estrechamiento de la apertura del estoma.)</li>
                            <li>Adhesión/formación de tejido cicatricial (Una adhesión es tejido cicatricial que une 2 piezas de tejido que no deben estar unidas.
                                A menudo, son indoloras y no necesitan tratamiento. Los casos graves pueden causar una obstrucción en el intestino o limitar el flujo sanguíneo.)
                            </li>
                            <li>Obstrucción intestinal (Es un bloqueo en el intestino que puede limitar la digestión o la eliminación de las heces.)</li>
                            <li>Irritación de la piel en el estoma.</li>
                        </ul>
                    </i>
                </p>
                <br>
                <b><i>¿Cómo es la recuperación?  </i></b> <br>
                <p>
                    <i>
                        La recuperación de una colostomía dependerá del procedimiento que haya tenido. Usted puede pasar varios días en el hospital recuperándose.
                        Se le indicará cómo cuidar su estoma/incisiones quirúrgicas y se le darán otras instrucciones antes de salir del hospital, como la necesidad de irrigación estomacal (lavado). 
                        Una enfermera/terapeuta especialmente capacitada le dará instrucciones completas sobre el cuidado de su estoma.
                        Su equipo médico discutirá con usted los medicamentos que tomará, tales como aquellos para el dolor, coágulos de sangre, infecciones y prevención del estreñimiento y/u otras afecciones.
                        <br>
                       <b> Su proveedor hablará con usted acerca de cualquier restricción de actividad que tenga. En general:</b>
                       <ul>
                           <li>No se levante peso, se agache o gire hasta que le digan que puede hacerlo. Pregunte cuándo puede comenzar a hacer ejercicio.</li>
                           <li>No conduzca mientras toma medicamentos narcóticos para el dolor.</li>
                           <li>Regrese al trabajo en 2-4 semanas, dependiendo de su ocupación y sus demandas laborales.</li>
                           <li>Hable con su equipo de atención médica acerca de ducharse, sumergir sus incisiones quirúrgicas en agua, dieta, actividad sexual y cuidado del estoma.</li>
                       </ul>
                    </i>
                </p>
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}