{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Uso de Turbante</b></i></h1>
                    <i>
                        <b><i>Consepto:</i></b> <br>
                        Elemento de protección que debe cubrir completamente toda la cabeza de forma que pueda recoger y tapar todo el cabello, evitando así su contacto con el paciente, el instrumental, 
                        el equipo o las manos del operador o pueda servir de reservorio a los productos del tratamiento odontológico.
                         Es preferible que la confección sea de un material desechable e impermeable. Se debe utilizar durante la atención al paciente.
                    </i>
                </p>  
                <br>
                <p>
                    <b><i> Gorros de quirófano. ¿Cuál utilizar?</i></b> <br>
                    <i>
                       
                        El gorro de quirófano es un elemento imprescindible dentro del vestuario quirúrgico ya que actúa como barrera de protección que evita la posibilidad de contacto entre el equipo médico y el paciente y las zonas expuestas de éste. <br>
                        <br>
                        Además de servir de barrera contra los microorganismos que florecen en el cabello, también protege de la sudoración que se produce en la frente, siendo su uso obligatorio para todo el personal que entra a una sala de cirugía. <br>
                        Para evitar cualquier tipo de contaminación biológica, el gorro de quirófano debe seguir unas pautas de uso muy marcadas: se debe ajustar correctamente para cubrir todo el cabello,
                         incluyendo el flequillo y orejas; el pelo largo debe estar recogido mediante una goma y se debe evitar la costumbre de usar doble gorro para “proteger” el peinado. 
                         El gorro es un elemento de protección tanto para el paciente como para el personal sanitario, un gorro de cirujano nos protege el cabello de problemas secundarios como la presencia de humedad 
                         y de los equipos de electrocirugía dentro del quirófano. <br>
                         <br>
                        Los gorros quirúrgicos, así como todo el vestuario médico, han sufrido una evolución con el paso del tiempo tanto en materia de protección como estético, ahora podemos encontrarlos de diferentes materiales, tejidos de alta tecnología, estériles, hidrorepelentes, con un sinfín de estampados, formas, etc.

Existen diferentes modelos de gorros quirúrgicos: desechables, de tela, gorros para pelo largo, de bandana, etc. En el post de hoy te explicamos cómo es cada uno.
                    </i>
                </p>
                <br>
                <b><i>TIPOS DE GORROS DE QUIRÓFANO</i></b> <br>
                <p>
                    <i>
                        <ul>
                            <li><b>Gorro desechable:</b>  Es probablemente el tipo de gorro quirúrgico más utilizado porque reduce considerablemente el riesgo de contaminación 
                                debido a su naturaleza de usar y tirar y su bajo coste económico. Es utilizado por médicos y dentistas como una prenda de protección y
                                 aislamiento para realizar diferentes actividades como cirugías, limpiezas, etc. Existen de gorros de quirófano desechables de diferentes materiales, colores y gramaje. 
                                 Al ser de talla única, suelen ser grandes, lo que garantiza que el pelo quede cubierto de manera completa, sin que produzca ninguna molestia para el personal médico, 
                                 suelen tener una textura suave y un filo elástico que permite ajustar facilmente el tamaño del gorro a cualquier persona.</li>
                            <li><b>Gorro clásico:</b>  Son gorros de cirujano de tela, por lo que pueden usarse una y otra vez. Aunque son modelos unisex, cierto es que debido a su forma 
                                y tamaño es más usado por hombres que tengan el pelo corto. Puedes encontrarlos con cierre ajustable de cintas o mediante velcro en la parte posterior de la cabeza.</li>
                            <li>Gorro de cirujano bandana: Es un nuevo estilo de gorro de quirófano con forma triangular y anudado en la parte posterior de la cabeza mediante una lazada. Su tamaño es más grande que el gorro clásico, lo que permite una mayor protección del cabello. En este caso,
                                 auque sea un modelo unisex también puede ser usado por mujeres con poco volumen capilar, quedandose recogido mediante una coleta en su interior.</li>

                            <li><b>Gorro de quirófano para pelo largo:</b>  Su especial diseño confeccionado en dos piezas le permite recoger el cabello largo y voluminoso en toda su totalidad.
                                 El cabello se ajusta comodamente mediante un lazo en la parte posterior. Es el modelo de gorro ideal para aquellas mujeres que tengan una larga melena.</li>
                        </ul>

                    </i>
                </p>

            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}