{% extends 'estructura.html' %}
{% block contenedor %}

<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Lavado Vesical </b></i></h1>
                    <i>
                        <b><i>Consepto:</i></b>
                        <br>
                        La técnica de lavado vesical consiste en la introducción de líquido (habitualmente suero fisiológico) en la vejiga y su posterior extracción, bien de forma continua o intermitente, a través de la sonda vesical.
                    </i>
                </p>
                <br>
                <b><h5>Tipos de lavado vesical:</h5></b>
                <p><b>A.- LAVADO VESICAL CONTINUO</b>
                    <br>
                    <i>
                        A través de una sonda de 3 vías la vejiga es irrigada continuamente mediante un sistema de irrigación cerrado 
                        sin alterar la esterilidad del sistema de drenaje ni incrementar el riesgo de entrada de bacterias en el tracto urinario.
                        También recibe el nombre de irrigación continua de la vejiga <br>
                        Este tipo de lavado vesical  evita la obstrucción de la sonda por coágulos.


                    </i>
                </p>
                <br>
                <b>B.-LAVADO VESICAL INTERMITENTE</b>
                <p>
                    <i>
                        Puede realizarse mediante dos sistemas: <br>
                        <b>Sistema de irrigación cerrado</b> 
                        <br>
                        La sonda vesical de 2 vías se conecta, gracias a un conector en Y, a la bolsa colectora y a un equipo de goteo, de forma que se puede alternar la irrigación y el vaciado de la vejiga.
                        Se emplea cuando no existen coágulos sanguíneos o descamaciones mucosas en el drenaje urinario y las irrigaciones vesicales se necesitan con menor frecuencia. <br>
                        <b>Sistema de irrigación abierto</b>
                        <br>
                        Requiere que se abra el sistema: la sonda vesical se desconecta de la bolsa colectora y se conecta a una jeringa cargada con suero fisiológico para irrigar manualmente la vejiga.
                        También recibe el nombre de irrigación manual de la vejiga.
                        Se emplea para desobstruir una sonda taponada por coágulos o mucosidad. <br>
                        <b>Indicaciones:</b>
                        El lavado vesical está indicado en niños que presentan:
                        Hematuria moderada o severa (cirugía genitourinaria, transplante renal, traumatismo renal cerrado,  contusión vesical, etc.).
                        Obstrucción de la sonda urinaria. <br>
                        <b>Contraindicaciones:</b>
                        Además de las contraindicaciones del sondaje vesical, podemos destacar como propias del lavado vesical:
                        Sospecha de perforación o rotura vesical.
                        Reflujo vesico-ureteral. <br>
                        <b>OBJETIVOS:</b> 
                        <br>
                        El lavado vesical es un procedimiento que pretende mantener o restablecer la permeabilidad de la sonda vesical,
                        siempre que se sospeche que está obstruida por coágulos, restos quirúrgicos, moco, etc., y para irrigar la vejiga con medicación, 
                        si bien esto último no es frecuente en pediatría.
                    </i>
                </p>
            </div>
        </div>
        <div class="container">
            <br>
            <b>LAVADO VESICAL CONTINUO</b>
            <div class="col-sm-6 col-md-12 col-lg-12">
                <i>
                    <b>Equipo:</b>
                    <br>
                    La técnica será llevada a cabo por una enfermera, ayudada por una auxiliar de enfermería. <br>
                    <b>Material necesario:</b> 
                    <br>
                    <ul>
                        <li>Sonda vesical de 3 vías.</li>
                        <li>Material para sondaje vesical.</li>
                        <li>Guantes no estériles. </li>
                        <li>Guantes estériles.</li>
                        <li>Pinza de plástico para clampar.</li>
                        <li>Sistema colector de orina.</li>
                        <li>Paño estéril.</li>
                    </ul>
                </i>
            </div>
            <br>
            <div class="col-sm-6 col-md-12 col-lg-12">
                <i>
                    <ul>
                        <li>Gasas estériles.</li>
                        <li>Antiséptico.</li>
                        <li>  Bolsa de suero para irrigación.</li>
                        <li> Equipo para irrigación.</li>
                        <li>Adaptador Luer-Lock.</li>
                        <li>Soporte para suero.</li>
                        <li>Esparadrapo.</li>
                    </ul>
                </i>
                <br>
                <b>Descripción de la técnica:</b>
                <br>
                <p>
                    <i>
                        Una vez instaurada la sonda vesical (véase el capítulo Sondaje Vesical), llenado el globo de retención y conectada al sistema colector de orina, comprobar que sale orina hacia el colector. <br>
                        Lavado higiénico de  manos y colocación de guantes no estériles. <br>
                        Clampar con la pinza de plástico la vía de la sonda para la conexión a irrigación. <br>
                        Cerrar la pinza del equipo de irrigación y conectar el equipo a la bolsa de suero fisiológico. Colgar la bolsa en el soporte para suero y purgar el sistema. Colgar el extremo libre sobre el soporte para suero de forma que éste no toque nada.
                        Retirada de guantes no estériles, lavado higiénico de  manos y colocación de guantes estériles. <br>
                        Con la ayuda de la auxiliar de enfermería, colocar un paño estéril bajo la conexión de la sonda y el sistema colector. <br>
                        Limpiar con gasas impregnadas en antiséptico la luz de la sonda vesical que queda libre, la de irrigación. <br>
                        Conectar el extremo libre del equipo de irrigación al adaptador Luer-Lock, y éste a la luz libre de la sonda vesical ayudándose de gasas estériles. <br>
                        Desclampar la sonda y adecuar, mediante la pinza del equipo,  el ritmo de irrigación al grado de hematuria. <br>
                        Comprobar que sale orina hacia la bolsa colectora. <br>
                        Fijar con esparadrapo al muslo la sonda, el tubo de recolección de orina y el equipo de irrigación. <br>
                        Registrar en la historia clínica la hora de inicio y fin del lavado vesical continuo y el ritmo de irrigación. <br>
                    </i>
                </p>
                <b>Observaciones para el lavado vesical continuo:</b>
                <br>
                <p>
                    <i>
                        El soporte para suero debe estar por encima del nivel de la vejiga del niño. <br>
                        El ritmo de irrigación se disminuirá según el grado de aclaramiento observado en la bolsa colectora. <br>
                        Para impedir la entrada de aire en la vejiga se cambiará la bolsa de suero para irrigación antes de que se vacíe por completo. <br>
                        Controlar la salida del líquido y vigilar las características de la orina (color, presencia de moco, coágulos o sedimento, etc.) para valorar la efectividad del lavado continuo. <br>
                        Tener en cuenta, a la hora de recoger muestras de orina, que ésta se encontrará diluida por efecto del suero de irrigación. <br>
                        En cada turno, contabilizar como entrada la cantidad de suero de irrigación utilizado y como salida la cantidad de líquido recogido en la bolsa de orina. <br>
                        Cambiar, mediante técnica estéril, el equipo de irrigación cada 48 horas. <br>
                        Cuando se interrumpa la irrigación de la vejiga y la sonda deba permanecer colocada, desconecte el equipo de irrigación y coloque un tapón estéril especial para sonda vesical en la luz de irrigación.


                    </i>
                </p>
            </div>

        </div>
    </div>
</section>
<br>
{% endblock %}