{% extends 'estructura.html' %}
{% block contenedor %}
<section bg-light>
    <div class="container">

        <!-- BUTTON PARA RETROCESO-->
        <div class="mt-4 mb-0">
            <a href="{{url_for('procedimientos')}}" class="" tabindex="-1" role="button" aria-disabled="true">
                <button  class="btn btn-outline-secondary border-2 border_tem"><b><i>Regresar Anterior</i></b></button>
            </a>
        </div>
        <br>
        <!--  CONTENIDO DE LAS IMAGENES -->
        <div class="row col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="list-unstyled small text-muted fs-6">
                    <h1 class="text-center"><i class="text-muted"><b>Procedimiento Embarazo</b></i></h1>
                    <i>
                        <h6 class=""><b><i>Consepto:</i></b></h6>
    
                    </i>
                </p>
                <p>
                    <i>
                        Recibir buen cuidado antes, durante y después de su embarazo es muy importante. Puede ayudar a su bebé a crecer y desarrollarse, y a mantenerlos a ambos saludables. Es la mejor manera de asegurar que su pequeño tenga un buen inicio para una vida saludable.
                        CUIDADO PRENATAL
                        Un buen cuidado prenatal incluye una buena alimentación y buenos hábitos de salud antes y durante el embarazo. Idealmente, usted debe hablar con su proveedor de atención médica antes de empezar a intentar quedar embarazada. He aquí algunas cosas que deberá hacer: <br>
                        <b>Elegir a un proveedor: </b><br> Será necesario que elija un proveedor para su embarazo y parto. Este proveedor le ofrecerá servicios de cuidado prenatal, de parto y de posparto. <br>
                        <b>Tomar ácido fólico: </b><br>  Si está contemplando quedar embarazada, o si ya lo está, debe tomar un suplemento con al menos 400 microgramos (0.4 mg) de ácido fólico todos los días. Tomar ácido fólico reducirá el riesgo de ciertos defectos congénitos. Las vitaminas prenatales casi siempre contienen más de 400 microgramos (0.4 mg) de ácido fólico por cápsula o tableta.
                        <br>
                        <b><i>  También debería:</i></b>
                        <br>
                        Hablar con su proveedor sobre cualquier medicamento que tome. Esto incluye medicamentos de venta libre. Solo debe tomar los medicamentos que su proveedor considere que es seguro tomar mientras está embarazada.
                        Evitar todo uso de alcohol y el uso de drogas recreativas y limitar la cafeína.
                        Dejar de fumar, si lo hace actualmente.
                        Asistir a consultas y exámenes prenatales: Usted visitará muchas veces a su proveedor durante el embarazo para recibir cuidado prenatal. La cantidad de visitas y los tipos de exámenes que se le harán cambiarán según en qué punto de su embarazo se encuentre:

                        <ul>
                            <li>Cuidado durante el primer trimestre</li>
                            <li>Cuidado durante el segundo trimestre</li>
                            <li>Cuidado durante el tercer trimestre</li>
                        </ul>
                        Hable con su proveedor sobre los distintos exámenes que se le practicarán durante el embarazo. Estos exámenes pueden ayudar a su proveedor a ver cómo se está desarrollando el bebé y a detectar cualquier problema con su embarazo. Los exámenes pueden incluir:
                        <ul>
                            <li> Pruebas de ultrasonidos para ver cómo está creciendo su bebé y ayudar a establecer una fecha de nacimiento estimada</li>
                            <li>Pruebas de glucosa para detectar diabetes gestacional</li>
                            <li>Pruebas de sangre para detectar el ADN fetal normal en sangre</li>
                            <li>Ecocardiografía fetal para revisar el corazón del bebé</li>
                            <li>Amniocentesis para buscar defectos congénitos y problemas genéticos</li>
                            <li>Prueba de translucencia nucal para buscar problemas con los genes del bebé</li>
                            <li>Análisis en busca de enfermedades de transmisión sexual</li>
                            <li>Exámenes de tipo de sangre como Rh y ABO</li>
                            <li> Exámenes de sangre para anemia</li>
                            <li>Exámenes de sangre para hacer seguimiento a cualquier enfermedad crónica que haya tenido antes de quedar en embarazo</li>
                            <li>Según sus antecedentes familiares, puede elegir hacerse pruebas de detección de problemas genéticos. Hay muchas cosas que debe pensar antes de realizar pruebas genéticas. Su proveedor puede ayudarle a decidir si esto es lo mejor para usted.</li>
                        </ul>

                        Si usted tiene un embarazo de alto riesgo, podría ser necesario que consulte a su proveedor con mayor frecuencia, y que se realice exámenes adicionales. <br>

                        <b>QUÉ ESPERAR DURANTE EL EMBARAZO</b>
                        <br>
                        <b><i>Su proveedor hablará con usted sobre cómo manejar las molestias comunes del embarazo como lo son:</i></b>
                        <ul>
                            <li> Náuseas del embarazo</li>
                            <li> Dolores de espalda, de piernas y otros dolores que se presentan en el embarazo</li>
                            <li>  Problemas para dormir</li>
                            <li> Cambios en la piel y el cabello</li>
                            <li>Sangrado vaginal en las primeras etapas del embarazo</li>
                            <li>No hay dos embarazos iguales. Algunas mujeres tienen síntomas leves, o muy pocos síntomas durante el embarazo. 
                                Muchas mujeres trabajan durante todo el término y viajan mientras están embarazadas. Otras podrían necesitar disminuir sus horas o dejar de trabajar. Algunas mujeres requieren reposo en cama durante algunos días o posiblemente semanas para tener un embarazo saludable.</li>

                        </ul>
                        <br>
                        <b>POSIBLES COMPLICACIONES DEL EMBARAZO:</b> <br>

                        El embarazo es un proceso complejo. Si bien muchas mujeres tienen embarazos normales, pueden presentarse complicaciones. Sin embargo, presentar una complicación no quiere decir que no tendrá un bebé saludable. Más bien, significa que su proveedor la vigilará de cerca y cuidará especialmente de usted y de su bebé durante el resto de su término.


                        Las complicaciones comunes incluyen:
                        <ul>
                            <li>Diabetes durante el embarazo (diabetes gestacional).</li>
                            <li>Presión arterial alt durante el embarazo (preeclampsia). Su proveedor hablará con usted sobre cómo cuidarse si tiene preeclampsia.</li>
                            <li> Cambios prematuros o pretérmino en su cuello uterino.</li>
                            <li>Problemas con la placenta. Es posible que cubra el cuello uterino, que se aleje de la matriz o que no esté funcionando tan bien como debería.</li>
                            <li> Sangrado vaginal.</li>
                            <li>Trabajo de parto prematuro.</li>
                            <li>Que su bebé no esté creciendo bien.</li>
                            <li>Que su bebé presente problemas de salud.</li>
                            <li>Pensar en los posibles problemas puede ser atemorizante. Pero es importante estar al tanto de manera que pueda informar a su proveedor si nota síntomas inusuales.</li>
                        </ul>
                       <b> TRABAJO DE PARTO Y ALUMBRAMIENTO:</b> <br>

                        Hable con su proveedor sobre lo que puede esperar durante el trabajo de parto y el alumbramiento. Puede comunicar sus deseos preparando un plan de parto. 
                        Hable con su proveedor sobre lo que debe incluir en su plan de parto. Puede querer incluir cosas como:
                        <ul>
                            <li> Cómo desea manejar el dolor durante el trabajo de parto, incluso si desea o no recibir un bloqueo epidural</li>
                            <li>Sus sentimientos sobre la episiotomía</li>
                            <li>Qué sucedería si requiere una cesárea</li>
                            <li>Sus sentimientos sobre un parto asistido con fórceps o con ayuda de ventosas</li>
                            <li>Quién desea que esté con usted durante el parto</li>
                        </ul>
                        <br>
                        También es buena idea hacer una lista de las cosas que debe llevar al hospital. Empaque una maleta con anticipación para tenerla lista cuando comience el trabajo de parto.
                        Conforme se acerque la fecha esperada para el parto, notará ciertos cambios. No siempre es fácil notar cuándo comenzará el trabajo de parto.
                         Su proveedor podrá decirle cuándo es momento de visitarlo para hacerse un examen o dirigirse al hospital para el parto.
                        Hable con su proveedor sobre lo que sucede si supera la fecha esperada de parto. Según su edad y factores de riesgo, su proveedor podría tener que provocar el parto entre la semana 39 
                        y la semana 42, aproximadamente.
                        Una vez que comienza el trabajo de parto, puede utilizar una serie de estrategias para sobrellevarlo. <br>
                        <br>
                        <b>QUÉ ESPERAR LUEGO DEL NACIMIENTO DE SU BEBÉ:</b> <br>

                        Tener un bebé es un hecho emocionante y maravilloso. También implica mucho trabajo para la madre. Usted necesitará cuidarse en las primeras semanas luego del alumbramiento. El tipo de cuidado que necesitará dependerá de cómo dio a luz a su bebé.
                        Si tuvo un parto vaginal, probablemente pasará 1 o 2 días en el hospital antes de irse a casa.
                        Si tuvo una cesárea se quedará en el hospital por 2 o 3 días antes de irse a casa. Su proveedor le explicará cómo cuidarse usted sola cuando regrese a casa conforme se recupera.
                        Si usted es capaz de amamantar, hacerlo tiene muchos beneficios. También puede ayudarle a perder el peso que subió durante el embarazo.
                        Téngase paciencia mientras aprende a amamantar. Aprender las habilidades necesarias para amamantar a su bebé puede llevar de 2 a 3 semanas. Hay mucho que aprender, como:
                        <ul>
                            <li>Cómo cuidar sus senos</li>
                            <li>La posición del bebé para amamantarlo</li>
                            <li>Cómo superar cualquier problema con el amamantamiento</li>
                            <li>Extracción y almacenamiento de leche materna</li>
                            <li>Cambios en la piel y el pezón a causa del amamantamiento</li>
                            <li>El mejor momento para amamantar</li>
                            <li>Si necesita ayuda, hay muchos recursos disponibles para las madres primerizas.</li>
                        </ul>
                        <br>
                        <b>CUÁNDO LLAMAR AL PROVEEDOR DE ATENCIÓN MÉDICA:</b> <br>

                        Llame a su proveedor si está o cree que está embarazada y:
                        <ul>
                            <li>Toma medicamentos para diabetes, enfermedad de la tiroides, convulsiones o presión arterial alta</li>
                            <li>  No está recibiendo cuidado prenatal</li>
                            <li>No puede manejar las molestias comunes del embarazo sin tomar medicamentos</li>
                            <li>Podría haber estado expuesta a una infección de transmisión sexual, a químicos, a radiación o a otras sustancias tóxicas</li>
                        </ul>
                        <br>
                        <b>Consulte a su proveedor inmediatamente si está embarazada y tiene:</b> <br>
                        <ul>
                            <li>Fiebre, escalofrío o micción dolorosa</li>
                            <li>Sangrado vaginal</li>
                            <li>  Dolor abdominal intenso</li>
                            <li>Traumatismo físico o trauma emocional grave</li>
                            <li>  Ruptura de fuente (ruptura de membranas)</li>
                            <li>Poco o ningún movimiento del bebé en la segunda mitad de su embarazo</li>
                        </ul>
                    </i>
                </p>
            </div>
        </div>
    </div>
</section>
<br>

{% endblock %}