{% extends 'estructura.html'%}
{% block contenedor%}
<section class="container">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"><b class="text-muted"><i>Lista de Pacientes en Registro</i></b></h1>
                <br>
                
                <ol class="breadcrumb mb-4">
                    <a href="{{url_for('formulariopacientes')}}"><button type="button" class="btn btn-outline-secondary border-2 border_tem"><b><i>Registrar</i></b></button></a>
                </ol>

                <div class="card mb-4 border border-3 border_card">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Registros
                    </div>
                    <div class="card-body">
                        <table   id="datatablesSimple">
                            <thead class="table-dark">
                                <tr class="table-info">
                                    <th><b><i>Nombre</i></b></th>
                                    <th><b><i>Apellido Paterno</i></b></th>
                                    <th><b><i>Apellido Materno</i></b></th>
                                    <th><b><i> Edad</i></b></th>
                                    <th><b><i>Fecha de Ingreso</i></b></th>
                                    <th><b><i>Hora de Ingreso</i></b></th>
                                    <th><b><i>N° Cama</i></b></th>
                                    <th><b><i>Trauma</i></b></th>
                                    <th><b><i>Opciones</i></b></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th><b><i>Nombre</i></b></th>
                                    <th><b><i>Apellido Paterno</i></b></th>
                                    <th><b><i>Apellido Materno</i></b></th>
                                    <th><b><i>Edad</i></b></th>
                                    <th><b><i>Fecha de Ingreso</i></b></th>
                                    <th><b><i>Hora de Ingreso</i></b></th>
                                    <th><b><i>Numero Cama</i></b></th>
                                    <th><b><i>Trauma</i></b></th>
                                    <th><b><i>Opciones</i></b></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <!--AGREGAMOS INFORMACION DE FIREBASE-->
                                <!-- AQUI SE OBTIENE LOS INDICES DE CADA REGISTRO-->
                                {% set contador=namespace( value=0) %}
                                {% for registros in elementos_registros %}<!--INICIO DEL FOR-->
                                    <tr>
                                        <td>{{registros.nombre}}</td>
                                        <td>{{registros.apellidopaterno}}</td>
                                        <td>{{registros.apellidomaterno}}</td>
                                        <td>{{registros.edad}}</td>
                                        <td>{{registros.fechadeingreso}}</td>
                                        <td>{{registros.horadeingreso}}</td>
                                        <td>{{registros.numerocama}}</td>
                                        <td>{{registros.trauma}}</td>
                                        <td>
                                            <a class="dltBtnv btn btn-outline-danger border_tem" data-id="{{ lista_indice_final[contador.value] }}" href="javascript:void(0)"><b><i>Eliminar</i></b></a>
                                            <a class="actualizar btn btn-outline-success border_tem" data-id="{{ lista_indice_final[contador.value] }}" href="javascript:void(0)"><b><i>Actualizar</i></b></a>
                                        </tr>
                                    {% set contador.value=contador.value + 1 %}
                                {%endfor%}<!-- FIN DEL FOR-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

{% endblock %}

<!-- VENTANA EMERGENTE  PARA ELIMINAR VENTANA-->
{% block eliminar_ventana %}
<!-- ----------------Estas librerias son necesarias para la ventana modal------------------------------------------>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script src="/static/js/eliminar.js"></script>
<script src="/static/js/actualizar.js"></script>
{% endblock %}