{% extends 'estructura.html'%}
{% block contenedor%}

<section class="container">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 border_card">
                <h1 class="mt-4"><b class="text-muted"><i>Registros de Salida por B1</i></b></h1>
                <br>
                <ol class="breadcrumb mb-4">
                    <a href="#"> <button type="button" class="btn btn-outline-secondary border-2 border_tem"><b><i>Registrar</i></b></button></a>
                </ol>
                <div class="card mb-4 border border-3 border_card">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Registros de Salidas
                    </div>
                    <div class="card-body">
                        <!-- TABLA DE FORMULARIO DE LA BASE DE DATOS DE FIREBASE-->
                        <table id="datatablesSimple">
                            <thead class="table-dark">
                                <tr class="table-danger">
                                    <th><b><i>N° Registro</i></b></th>
                                    <th><b><i>Fecha de Salida</i></b></th>
                                    <th><b><i>Hora de Salida</i></b></th>
                                    <th><b><i>Codigo</i></b></h>
                                    <th><b><i>Opciones</i></b></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th><b><i>N° Registro</i></b></th>
                                    <th><b><i>Fecha de Salida</i></b></th>
                                    <th><b><i>Hora de Salida</i></b></th>
                                    <th><b><i>Lugar</i></b></th>
                                    <th><b><i>Area</i></b></th>
                                    <th><b><i>Opciones</i></b></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>12-03-22</td>
                                    <td>23:00pm</td>
                                    <td>Puerta A1</td>
                                    <td> <a href="#" class="btn btn-outline-danger border_tem"><b><i>Eliminar</i></b></a> 
                                </tr>

                                <tr>
                                    <th>2</th>
                                    <td>12-03-22</td>
                                    <td>23:05pm</td>
                                    <td>Puerta A1</td>
                                    <td> <a href="#" class="btn btn-outline-danger border_tem"><b><i>Eliminar</i></b></a> 
                                </tr>

                                <tr>
                                    <th>3</th>
                                    <td>12-03-22</td>
                                    <td>23:10pm</td>
                                    <td>Puerta A1</td>
                                    <td> <a href="#" class="btn btn-outline-danger border_tem"><b><i>Eliminar</i></b></a> 
                                </tr>

                                <tr>
                                    <th>4</th>
                                    <td>12-03-22</td>
                                    <td>23:05pm</td>
                                    <td>Puerta A1</td>
                                    <td> <a href="#" class="btn btn-outline-danger border_tem"><b><i>Eliminar</i></b></a> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

{% endblock%}